<footer>
  <div class="max-w-7xl mx-auto py-4 md:flex md:items-center md:justify-between">
    <div class="flex justify-center space-x-6 md:order-2">
      <p class="text-center text-base text-gray-600">
        buyer@new-programmatic.com
      </p>
    </div>
    <div class="mt-4 md:mt-0 md:order-1">
      <p class="text-left text-base text-gray-500">
        © 2023. Vin.info - Сервис проверки автомобилей.
      </p>
      <!-- <p class="text-left text-base text-gray-400">
        <a class="pr-3" href="https://vin.info/docs/privacy-policy">Политика конфиденциальности</a>
        <a class="pr-3" href="https://vin.info/docs/terms-of-use">Пользовательское соглашение</a>
      </p> -->
      <p class="text-left text-sm text-gray-400">
        ОГРН 1227700687092, ООО «НИК»
      </p>
    </div>
  </div>
</footer>