<app-container>
    <header>
        <h1 class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl">Проверка авто по вин или гос номеру
            автомобиля</h1>
        <p class="mt-3 text text-gray-500">Чтобы проверить автомобиль, необходимо указать один идентификатор ТС: гос.
            номер,
            VIN, либо кузов / шасси.</p>
    </header>
    <section>
        <app-form></app-form>
    </section>
    <section>
        <div class="max-w-7xl mx-auto py-8 lg:py-16">
            <div class="lg:grid lg:grid-cols-3 lg:gap-8">
                <div *ngIf="autoInfo$" class="col-span-2 mt-12 lg:mt-0 lg:col-span-3">
                  <app-auto-info [autoInfo]="autoInfo$"></app-auto-info>
                </div>
                <div>
                    <h2 class="text-3xl font-medium text-gray-900">Зачем нужна проверка авто?</h2>
                    <p class="mt-2 text-lg text-gray-500">На российском рынке поддержанных авто очень легко ошибиться и купить неликвид, а ещё хуже, если купленный автомобиль
                    окажется в угоне или залоге. Кроме того, автомобиль может выглядеть как новый и без повреждений, но проверка при этом
                    покажет, что он побывал в одном, а то и нескольких ДТП.</p>
                    <p class="mt-2 text-lg text-gray-500">Избежать всего этого поможет проверка по вин на нашем сайте. Она занимает несколько секунд, а для её начала необходим
                    минимум данных, поэтому воспользоваться сервисом можно на месте при выборе машины.</p>
                </div>
                <div class="mt-12 lg:mt-0 lg:col-span-2">
                    <dl class="space-y-8">
                        <div>
                            <dt class="text-lg leading-6 font-medium text-gray-900">
                                <h2>Какие данные нужны для проверки авто?</h2>
                            </dt>
                            <dd class="mt-2 text-base text-gray-500">Чтобы получить информацию об авто необходимо заполнить всего лишь одно любое поле в форме поиска:</dd>
                            <dd class="mt-2 text-base text-gray-500">
                                <ul class="list-disc pl-6">
                                    <li>Вин код автомобиля</li>
                                    <li>Госномер</li>
                                    <li>Номер рамы</li>
                                    <li>Номер кузова</li>
                                </ul>
                            </dd>
                            <dd class="mt-2 text-base text-gray-500">
                                Проверка авто по госномеру удобна тогда, когда нет возможности узнать VIN. Такое бывает при обстоятельствах, в
                                которых ищут машину по объявлениям на Интернет-ресурсах, и из более-менее достоверных данных есть только фотография
                                автомобиля с его государственным номером.
                                Проверка займет не более одной-двух секунд.
                            </dd>
                        </div>
                        <div>
                            <dt class="text-lg leading-6 font-medium text-gray-900">
                                <h2>Где найти VIN автомобиля?</h2>
                            </dt>
                            <dd class="mt-2 text-base text-gray-500">
                                ВИН представляет собой код из семнадцати букв и цифр, который вписан в СТС и полис ОСАГО, а также, в зависимости
                                от марки и модели находится непосредственно на автомобиле. Каждый производитель транспортного средства обязан
                                выбивать его в неразъемных частях кузова и шасси, в том числе:
                            </dd>
                            <dd class="mt-2 text-base text-gray-500">
                                <ul class="list-disc pl-6">
                                    <li>Внизу под лобовым стеклом</li>
                                    <li>На стойке или пороге водительской двери</li>
                                    <li>На двигателе или других отсеках под капотом</li>
                                    <li>На рулевой колонке</li>
                                    <li>ВО внутреннем своде колеса</li>
                                </ul>
                            </dd>
                            <dd class="mt-2 text-base text-gray-500">
                                Совет: при проверке автомобиля стоит сравнить ВИН код в разных частях автомобиля, так как некоторые, не чистые
                                на руку продавцы, могут перебивать этот номер. Однако, сделать это им не под силу в труднодоступных местах
                                машины.
                            </dd>
                        </div>
                        <div>
                            <dt class="text-lg leading-6 font-medium text-gray-900">
                                <h2>Где находится номер рамы?</h2>
                            </dt>
                            <dd class="mt-2 text-base text-gray-500">
                                Проверить авто можно не только по вин, но и по номеру рамы, находится он в арке правого колеса, на некоторых
                                машинах (например, Toyota, Land Rover) нанесен в области переднего колеса, а у других авто, чаще всего, в
                                области заднего.
                            </dd>
                        </div>
                        <div>
                            <dt class="text-lg leading-6 font-medium text-gray-900">
                                <h2>Какие данные покажет результат проверки?</h2>
                            </dt>
                            <dd class="mt-2 text-base text-gray-500">
                                Проверка авто по госномеру или вин даст полную и исчерпывающую информацию.
                                Вы узнаете:
                            </dd>
                            <dd class="mt-2 text-base text-gray-500">
                                <ul class="list-disc pl-6">
                                    <li>регистрационные действия, которые проводились с машиной;</li>
                                    <li>в какое количество ДТП попадал автомобиль. В данном разделе учитываются только те ДТП, которые были
                                        оформлены ГИБДД и происходили не ранее 2015-го года;</li>
                                    <li>сколько собственников было у транспортного средства. ФИО и другая персональная информация о них,
                                        согласно Федеральному Закону, не отображается, вы увидите только статус лица (физическое или
                                        юридическое);</li>
                                    <li>наличие авто в залоге у банка. Это отдельная тема мошенников. Аферисты оформляют кредит у коммерческих
                                        организаций под залог машины. Далее такой автомобиль «подсовывают» доверчивому покупателю и по
                                        прошествии небольшого времени «жертва» либо останется без машины, либо вынуждена будет погасить долг.
                                        Поэтому проверка авто по вин номеру это не рекомендуемая, а обязательная процедура перед покупкой
                                        транспортного средства.</li>
                                    <li>есть ли ограничения на регистрационные действия. Заметим, что если вы приобретаете автомобиль с
                                        наложенными на него такими санкциями, то не сможете оформить его на себя. На незарегистрированном
                                        автомобиле запрещено перемещаться, за это предусмотрено административное наказание. В итоге останется
                                        два варианта: либо погасить долг за продавца, либо расторгнуть договор купли-продажи, если он
                                        оформлялся. Если сделка была без договора, то остается только первый вариант, так как вряд ли вам
                                        удастся найти прежнего хозяина машины и уговорить его погасить долг перед приставами.</li>
                                    <li>если автомобиль числится в угоне, то в разделе «Проверка нахождения в розыске» вы об этом непременно
                                        узнаете.</li>
                                </ul>
                            </dd>
                        </div>
                        <div>
                            <dt class="text-lg leading-6 font-medium text-gray-900">
                                <h2>Законно ли это?</h2>
                            </dt>
                            <dd class="mt-2 text-base text-gray-500">
                                Все данные мы получаем из открытых источников, информация, получаемая при проверке авто, на 100% достоверна и
                                актуальна, так как база обновляется в режиме online.
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</app-container>